@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
}

.container {
  background-color: #222;
  border-radius: 5px;
  margin: 13px auto;
  max-width: 98%;
  padding: 20px;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 5px;
  margin-top: 15px;
  border-radius: 10px;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 91%;
  border: 2px solid green; /* add a green border */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); /* add a box-shadow */
}

h1 {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-family: 'Russo One', sans-serif;
  font-size: 30px;
  margin: 0;
  align-items: center;
}

p {
  margin-top: 60px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 35px;
  font-weight: normal;
  font-family: 'Russo One', sans-serif;
}

.question {
  margin-bottom: 20px;
  text-align: left;
  color: white;
  font-family: 'Open Sans', sans-serif;
  
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-size: 18px;
}

input[type="text"] {
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(199, 199, 199, 0.388);
  font-size: 16px;
  padding: 10px;
  width: 100%;
  background-color: #333;
  color: #fff;
}

button {
  background-color: #0ea300;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 10px 25px;
  transition: background-color 0.15s ease-in-out;
  font-size: 0.8em;
}

button:hover {
  background-color: #0ea30082;
}

#chat-container {
  background-color: #444;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(199, 199, 199, 0.388);
  margin: 20px auto;
  max-width: 100%;
  padding: 20px;
  text-align: left;
  overflow-y: scroll;
  height: 500px;
  color: white;
  font-family: 'Open sans', sans-serif;

}

#chat-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

#chat-container li {
  display: flex;
  margin-bottom: 10px;
  color: white;
}

#chat-container .bot {
  justify-content: flex-start;
  color: white;
}

#chat-container .user {
  justify-content: flex-end;
  color: white;
}

#chat-container .message {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

footer {
  display: flex;
  margin-top: 10px;
  margin-bottom: -15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid green; /* add a green border */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); /* add a box-shadow */
}

.warning {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Monsteratt', sans-serif;
}
